body{
    background-color: beige;
    color: blue;
}
b{
    color: black
}
.center{
    text-align: center;
    margin: 0 auto;
}
.center {
    text-align: center;
}

.profile-container {
    position: relative;
    display: inline-block;
}

#profile-picture {
    border-radius: 50%;
    width: 170px;
    height: 170px;
    object-fit: cover;
}

.upload-icon {
    position: absolute;
    bottom: 5px;
    right: 5px;
    background: white;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    font-size: 20px;
}